.grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  padding: 1.5rem;
  margin: 1rem;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
  }
}
